#navbar {
    position: fixed;
    background-color: var(--bg-primary);/**/
    transition: width 600ms ease;
    overflow: scroll;
    z-index: 99;

    &:hover .logo svg{
        transform: rotate(-180deg);
    }
}
#navbar::-webkit-scrollbar{
    display: none;
}
#navbarNav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.navItem {
    width: 100%;
    &:last-child{
        margin-top: auto;
    }
}

.navLink {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);

    &:hover{
        filter: grayscale(0%) opacity(1);
        background: var(--bg-secondary);
        color: var(--text-secondary);
    }
}

.active {
    filter: grayscale(40%) opacity(1);
}

.cart_lengthDiv{
    position: relative;
}

.cart_length{
    border-radius: 10px;
    font-size: x-small;
    padding: 5px 5px ;
    color: var(--nav-dot-text);
    background-color: var(--nav-dot);
    position: absolute;
    top: 0;
    left: 55%;
}

.linkText {
    display: none;
    margin-left: 1rem;
}

.navLink svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: var(--icons-color);
}

.fa-secondary {
    color: var(--icons-color);
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;

    svg{
        transform: rotate(0deg);
        transition: var(--transition-speed);
    }

    .logoText {
        display: inline;
        position: absolute;
        left: -999px;
        transition: var(--transition-speed);
    }
}

@media only screen and (max-width: 600px) {
    #navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        overflow: scroll;
    }
    
    .logo {
        display: none;
    }

    #navbarNav {
        flex-direction: row;
    }

    .navLink {
        justify-content: center;
    }

}
/*main css*/
/* Large screens */
@media only screen and (min-width: 600px) {
    #navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    #navbar:hover {
        width: 16rem;
    }

    #navbar:hover .linkText {
        display: inline;
    }

    #navbar:hover .logo svg {
        margin-left: 11rem;
    }

    #navbar:hover .logoText {
        left: 0px;
    }
}