@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto ', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ececec;
    //background-color: #ecf0f3;
}

:root {
    font-size: 16px;
    --text-light:white;
    --text-dark:black;

    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    
    --icons-color:#df49d8;
    --transition-speed: 600ms;
    --nav-dot: white;
    --nav-dot-text: #df49d8;

    --box-shadow: -10px -10px 15px rgba(255,255,255,0.55), 10px 10px 15px rgba(70,70,70,0.12);
    --box-shadow--inset: inset -10px -10px 15px rgba(255,255,255,0.55), inset 10px 10px 15px rgba(70,70,70,0.12);
   /*  --icons-color:#ff9999; */
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--icons-color);
}

/* @mixin buttonTheme {
    box-shadow: var(--box-shadow);
    padding: 13px 20px;
    border-radius: 10px;
    color: var(--icons-color);
    background-color: transparent;
    &:hover{
        box-shadow: var(--hover-box-shadow);
        color: white;
        background-color: var(--icons-color);
    }
} */

datalist{
    display: none;
}

textarea {
    resize: none;
    outline: none;
}

input{
    outline: none;
    background-color: transparent;
    border: none;
    border-radius: 7px;
    &:focus{
        box-shadow: var(--box-shadow--inset);
    }
    
}
::placeholder{
    color: lightgray;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
a{
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

/*----loading----*/
@keyframes loading {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.loading_div{
    background-color: var(--icons-color);
    color: var(--text-light);
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1{
        animation: loading 1.5s infinite ;
    }
}
/*----loading----*/

#main {
    margin-left: 5rem;
}
.empty {
    height: 130px;
}

@media only screen and (max-width: 600px) {
    #main {
        margin: 0;
    }
}