@import '../../utils/scss/mixin.scss';

.product_card_div {
    border-radius: 14px;
    box-shadow: var(--box-shadow);
    margin: 10px 0px 35px 10px;
    transition: 0.3s;
    position: relative;
    border: 10px solid #ececec; 
    
    
}

.productCard_img {
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    border-radius: 7px;
}
.productCard_content{
    //border: 1px solid red;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    h3{
        //border: 1px solid red;
        margin: 0px;
        line-height: 1;
        text-transform: capitalize;
        font-size: smaller;
        font-weight: 700;
        
        display: flex;
        flex-direction: column;
        span{
            color: var(--icons-color);
            font-size: large;
            margin-top: 5px
        }
    }   
    button {
        @include buttonTheme;
        border-radius: 30px;
        color: var(--icons-color);
        text-transform: uppercase;
        line-height: 1;
        padding: 10px 10px;
        width: 50px;
        background-color: #ececec;
        box-shadow: none;
        svg{
            width: 30px;
        }
    }
}

/*product Details*/
#product_D{
    padding: 50px 10px 50px 10px;
    display: flex;
    justify-content: center;

    div{
        width: 45%;
        height: 500px;
    }
}
#productD_imgDiv{
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
#productD_aboutDiv{
    padding: 10px 10px 10px 3%;
    position: relative;

    h1{
        text-transform: capitalize;
    }

    h3{
        font-weight: 700;
        color: var(--icons-color);
    }

    p , label{
        color: #7a7a7a;
    }

    input{
        margin: 0px 10px 0px 0px;
        width: 60px;
        border: 1px solid #7a7a7a;
        border-radius: 5px ;
        padding: 10px;
        outline: none;
        
        &:focus{
            border: 1px solid var(--icons-color);
        }
    }

    button {
        @include buttonTheme;
        border-radius: 5px; 
        font-weight: 700;
        text-transform: uppercase;
        color: var(--icons-color);

    }

    .go_back{
        color: #121212;
        font-size: xx-large;
        padding: 0px 5px;
        box-shadow: none;
        
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media only screen and (max-width: 600px) {
    #product_D{
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px 10px 10px 10px;
        div{
            width: 100%;
        }
        #productD_imgDiv {
            height: 300px;
        }

        .go_back{
            top: 5%;
            right: 5%;
        }
    }
    
}