@import '../../utils/scss/mixin.scss';
/*----Shop----*/
#shop{
    background-color: #ececec;
}

/*---shopMain----*/
#shop_main{
    //border: 1px solid green;
    display: flex;
}

#main_side{
    //border: 1px solid red;
    flex-shrink: 0;
}
#main_center{
    //border: 1px solid blue;
    flex-grow: 1;

    .load_more_button{
        width: calc(100% - 20px);
        font-weight: 700;
        font-size: medium;
        margin: 10px;
        @include buttonTheme;
    }
}

/*----Shop_side bar----*/
#shop_side_bar{
    padding: 0px 5px;
    max-width: 350px;
    //box-shadow: var(--box-shadow);

    button{
        @include buttonTheme;
        font-weight: 700;
        font-size: medium;
        text-transform: capitalize;
    }

    ::-webkit-scrollbar{
        display: none;
    }

    div{
        margin: 15px 0px;
        padding: 5px;
        box-shadow: var(--box-shadow);
        border-radius: 5px;
    }
}
#shop_search_product{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    input[type=text]{
        border: none;
        font-size: large;
        width: 60%;
    }

    button{
        box-shadow: none;
        padding: 10px 15px;
        outline: 1px ;
    }

}

#default_categories{
    max-height: 350px;
    overflow: scroll;
    h3{
        color: var(--icons-color);
        line-height: 1;
        text-align: center;
    }
    button{
        width: calc(50% - 10px);
        margin: 5px;

    }
}
#user_selected_Categories{
    button{
        width: calc(50% - 10px);
        margin: 5px;
        color: var(--icons-color);

    }
}


/*--------------------------*/
#shop_products {
    //border: 1px solid red;
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    overflow: hidden;

    .product_card_div{
        //border: 1px solid green ;
        width: 250px;    
    }
}

@media only screen and (max-width: 600px) {

    
    
    #shop_main{
        flex-direction: column;
        #main_side{
            width: 100%;
            
            #shop_side_bar{
                max-width: none;
            }
        }
        #main_center{
            width: 100%;
        }
    }
    
    
    #shop_products{
        flex-wrap: nowrap;
        flex-direction: column;
        
        .product_card_div{
            //border: 1px solid green ;
            width: auto; 
        }

        .productCard_img ~ div{
            display: flex;
            justify-content: space-between;
            text-align: start;
            padding: 0px 10px;
        }
    }

    #default_categories{
        max-height: 250px;
    }
    
}