#message_box{
    /* border: 1px solid red; */
    display: flex;
    width: min-content;
    min-width: 200px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #121212;
    color: #EEEEEE;

    /* z-index: 90;
    position: absolute;
    bottom: 0%;
    left: calc(50% - 100px); */
  
}

#box_color{
    width: 5%;
    background-color: green;
}

#box_color ~ div {
    padding: 10px 20px ;
}