@mixin buttonTheme {
    box-shadow: var(--box-shadow);
    padding: 13px 20px;
    border-radius: 10px;
    color: var(--icons-color);
    background-color: transparent;
    &:hover{
        box-shadow: var(--hover-box-shadow);
        color: white;
        background-color: var(--icons-color);
    }
}